{# UserBundle/Resources/views/Default/index.html.twig #}

{% extends "::base.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block body %}
<section class="row post_page_sidebar post_page_sidebar1">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 post_page_uploads">
                <div class="author_details row m0">
                    <div class="author_cover row m0">
                        <img src="http://uxart.io.dimgx.net/Products/video-cafe/images/author/cover.jpg" alt="">
                    </div>
                    <div class="row">
                        <div class="col-sm-6 author_photo_name">
                            <img src="http://uxart.io.dimgx.net/Products/video-cafe/images/author/profile.jpg" alt="" class="img-thumbnail img-circle">
                            <h3>Masum Rana</h3>
                        </div>
                        <div class="col-sm-6 follow_n_count">
                            <div class="btn-group">
                                <a href="#" class="btn follower_count">34,000</a>
                                <a href="#" class="btn follow">follow</a>
                            </div>
                        </div>
                    </div>
                    <div class="media bio_section">
                        <div class="media-left about_social">
                            <div class="row m0 about_section section_row">
                                <h4>À propos de moi</h4>
                                <dl class="dl-horizontal">
                                    <dt>Identité:</dt>
                                    <dd>Masum Rana</dd>

                                    <dt>Localisation:</dt>
                                    <dd>Dhaka, Bangladesh</dd>

                                    <dt>Pitcher depuis:</dt>
                                    <dd>3 August, 2015</dd>

                                    <dt>Total Pitches:</dt>
                                    <dd>309</dd>

                                    <dt>Total Vues:</dt>
                                    <dd>5,34,949</dd>
                                </dl>
                            </div>
                            <div class="row m0 social_section section_row">
                                <h5>Originalement voici mes réseaux sociaux</h5>
                                <ul class="list-inline">
                                    <li><a href="#"><img src="images/icons/social/1.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="images/icons/social/2.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="images/icons/social/3.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="images/icons/social/7.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="images/icons/social/9.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="images/icons/social/9.jpg" alt=""></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="media-body author_desc_by_author">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                        </div>
                    </div>
                </div>
                <div class="row title_row">
                    <h3>Pitch de Rocco SiTrunfio</h3>
                </div>
                <div class="row">
                    <article class="col-sm-4 video_post">
                        <div class="inner row m0">
                            <div class="row screencast m0">
                                <img src="http://uxart.io.dimgx.net/Products/video-cafe/images/media/1.jpg" alt="" class="cast img-responsive">
                                <div class="play_btn"></div>
                                <div class="media-length">17:30</div>
                            </div>
                            <div class="row m0 post_data">
                                <div class="row m0"><a href="single-video.html" class="post_title">Duis aute irure dolor in adipsicing elit</a></div>
                                <div class="row m0">
                                    <div class="fleft author">by <a href="page-author.html">Masum Rana</a></div>
                                    <div class="fleft date">3 August, 2015</div>
                                </div>
                            </div>
                            <div class="row m0 taxonomy">
                                <div class="fleft category"><a href="category.html"><img src="images/icons/cat.png" alt="">Art</a></div>
                                <div class="fright views"><a href="#"><img src="images/icons/views.png" alt="">3,45,346</a></div>
                            </div>
                        </div>
                    </article>
                    <article class="col-sm-4 video_post">
                        <div class="inner row m0">
                            <div class="row screencast m0">
                                <img src="http://uxart.io.dimgx.net/Products/video-cafe/images/media/2.jpg" alt="" class="cast img-responsive">
                                <div class="play_btn"></div>
                                <div class="media-length">17:30</div>
                            </div>
                            <div class="row m0 post_data">
                                <div class="row m0"><a href="single-video.html" class="post_title">Duis aute irure dolor in adipsicing elit</a></div>
                                <div class="row m0">
                                    <div class="fleft author">by <a href="page-author.html">Masum Rana</a></div>
                                    <div class="fleft date">3 August, 2015</div>
                                </div>
                            </div>
                            <div class="row m0 taxonomy">
                                <div class="fleft category"><a href="category.html"><img src="images/icons/cat.png" alt="">Philosophy</a></div>
                                <div class="fright views"><a href="#"><img src="images/icons/views.png" alt="">3,45,346</a></div>
                            </div>
                        </div>
                    </article>
                    <article class="col-sm-4 video_post">
                        <div class="inner row m0">
                            <div class="row screencast m0">
                                <img src="http://uxart.io.dimgx.net/Products/video-cafe/images/media/3.jpg" alt="" class="cast img-responsive">
                                <div class="play_btn"></div>
                                <div class="media-length">17:30</div>
                            </div>
                            <div class="row m0 post_data">
                                <div class="row m0"><a href="single-video.html" class="post_title">Duis aute irure dolor in adipsicing elit</a></div>
                                <div class="row m0">
                                    <div class="fleft author">by <a href="page-author.html">Masum Rana</a></div>
                                    <div class="fleft date">3 August, 2015</div>
                                </div>
                            </div>
                            <div class="row m0 taxonomy">
                                <div class="fleft category"><a href="category.html"><img src="images/icons/cat.png" alt="">Comedy</a></div>
                                <div class="fright views"><a href="#"><img src="images/icons/views.png" alt="">3,45,346</a></div>
                            </div>
                        </div>
                    </article>
                    <article class="col-sm-4 video_post">
                        <div class="inner row m0">
                            <div class="row screencast m0">
                                <img src="http://uxart.io.dimgx.net/Products/video-cafe/images/media/4.jpg" alt="" class="cast img-responsive">
                                <div class="play_btn"></div>
                                <div class="media-length">17:30</div>
                            </div>
                            <div class="row m0 post_data">
                                <div class="row m0"><a href="single-video.html" class="post_title">Duis aute irure dolor in adipsicing elit</a></div>
                                <div class="row m0">
                                    <div class="fleft author">by <a href="page-author.html">Masum Rana</a></div>
                                    <div class="fleft date">3 August, 2015</div>
                                </div>
                            </div>
                            <div class="row m0 taxonomy">
                                <div class="fleft category"><a href="category.html"><img src="images/icons/cat.png" alt="">Science</a></div>
                                <div class="fright views"><a href="#"><img src="images/icons/views.png" alt="">3,45,346</a></div>
                            </div>
                        </div>
                    </article>
                    <article class="col-sm-4 video_post">
                        <div class="inner row m0">
                            <div class="row screencast m0">
                                <img src="http://uxart.io.dimgx.net/Products/video-cafe/images/media/5.jpg" alt="" class="cast img-responsive">
                                <div class="play_btn"></div>
                                <div class="media-length">17:30</div>
                            </div>
                            <div class="row m0 post_data">
                                <div class="row m0"><a href="single-video.html" class="post_title">Duis aute irure dolor in adipsicing elit</a></div>
                                <div class="row m0">
                                    <div class="fleft author">by <a href="page-author.html">Masum Rana</a></div>
                                    <div class="fleft date">3 August, 2015</div>
                                </div>
                            </div>
                            <div class="row m0 taxonomy">
                                <div class="fleft category"><a href="category.html"><img src="images/icons/cat.png" alt="">Youtube</a></div>
                                <div class="fright views"><a href="#"><img src="images/icons/views.png" alt="">3,45,346</a></div>
                            </div>
                        </div>
                    </article>
                    <article class="col-sm-4 video_post">
                        <div class="inner row m0">
                            <div class="row screencast m0">
                                <img src="http://uxart.io.dimgx.net/Products/video-cafe/images/media/6.jpg" alt="" class="cast img-responsive">
                                <div class="play_btn"></div>
                                <div class="media-length">17:30</div>
                            </div>
                            <div class="row m0 post_data">
                                <div class="row m0"><a href="single-video.html" class="post_title">Duis aute irure dolor in adipsicing elit</a></div>
                                <div class="row m0">
                                    <div class="fleft author">by <a href="page-author.html">Masum Rana</a></div>
                                    <div class="fleft date">3 August, 2015</div>
                                </div>
                            </div>
                            <div class="row m0 taxonomy">
                                <div class="fleft category"><a href="category.html"><img src="images/icons/cat.png" alt="">People</a></div>
                                <div class="fright views"><a href="#"><img src="images/icons/views.png" alt="">3,45,346</a></div>
                            </div>
                        </div>
                    </article>
                    <article class="col-sm-4 video_post">
                        <div class="inner row m0">
                            <div class="row screencast m0">
                                <img src="http://uxart.io.dimgx.net/Products/video-cafe/images/media/7.jpg" alt="" class="cast img-responsive">
                                <div class="play_btn"></div>
                                <div class="media-length">17:30</div>
                            </div>
                            <div class="row m0 post_data">
                                <div class="row m0"><a href="single-video.html" class="post_title">Duis aute irure dolor in adipsicing elit</a></div>
                                <div class="row m0">
                                    <div class="fleft author">by <a href="page-author.html">Masum Rana</a></div>
                                    <div class="fleft date">3 August, 2015</div>
                                </div>
                            </div>
                            <div class="row m0 taxonomy">
                                <div class="fleft category"><a href="category.html"><img src="images/icons/cat.png" alt="">Space Tech</a></div>
                                <div class="fright views"><a href="#"><img src="images/icons/views.png" alt="">3,45,346</a></div>
                            </div>
                        </div>
                    </article>
                    <article class="col-sm-4 video_post">
                        <div class="inner row m0">
                            <div class="row screencast m0">
                                <img src="http://uxart.io.dimgx.net/Products/video-cafe/images/media/8.jpg" alt="" class="cast img-responsive">
                                <div class="play_btn"></div>
                                <div class="media-length">17:30</div>
                            </div>
                            <div class="row m0 post_data">
                                <div class="row m0"><a href="single-video.html" class="post_title">Duis aute irure dolor in adipsicing elit</a></div>
                                <div class="row m0">
                                    <div class="fleft author">by <a href="page-author.html">Masum Rana</a></div>
                                    <div class="fleft date">3 August, 2015</div>
                                </div>
                            </div>
                            <div class="row m0 taxonomy">
                                <div class="fleft category"><a href="category.html"><img src="images/icons/cat.png" alt="">Nature &amp; Beauty</a></div>
                                <div class="fright views"><a href="#"><img src="images/icons/views.png" alt="">3,45,346</a></div>
                            </div>
                        </div>
                    </article>
                    <article class="col-sm-4 video_post">
                        <div class="inner row m0">
                            <div class="row screencast m0">
                                <img src="http://uxart.io.dimgx.net/Products/video-cafe/images/media/9.jpg" alt="" class="cast img-responsive">
                                <div class="play_btn"></div>
                                <div class="media-length">17:30</div>
                            </div>
                            <div class="row m0 post_data">
                                <div class="row m0"><a href="single-video.html" class="post_title">Duis aute irure dolor in adipsicing elit</a></div>
                                <div class="row m0">
                                    <div class="fleft author">by <a href="page-author.html">Masum Rana</a></div>
                                    <div class="fleft date">3 August, 2015</div>
                                </div>
                            </div>
                            <div class="row m0 taxonomy">
                                <div class="fleft category"><a href="category.html"><img src="images/icons/cat.png" alt="">Entertainment</a></div>
                                <div class="fright views"><a href="#"><img src="images/icons/views.png" alt="">3,45,346</a></div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="row pagination_row">
                    <ul class="pagination">
                        <li><a href="#">previous</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li class="disabled"><a href="#">...</a></li>
                        <li><a href="#">next</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3 sidebar sidebar2">
                <div class="row m0 sidebar_row_inner">
                    <!--Search Form-->
                    <form action="#" role="search" class="search_form row m0 widget widget_search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search Here">
                            <span class="input-group-addon"><button type="submit"><img src="images/icons/search.png" alt=""></button></span>
                        </div>
                    </form>
                    <!--Sponsored Area-->
                    <div class="row m0 widget widget_sponsored_area">
                        <h5 class="widget_title">sponsored area</h5>
                        <div class="row m0 inner">
                            <div class="row m0 advertise_betweeen_uploads">
                                <div class="inner row m0">
                                    <h3>Advertise<br>Here</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Recommended to Follow-->
                    <div class="row m0 widget widget_recommended_to_follow">
                        <h5 class="widget_title">recommended to follow</h5>
                        <div class="row m0 inner">
                            <div class="media">
                                <div class="media-left"><a href="page-author.html"><img src="http://uxart.io.dimgx.net/Products/video-cafe/images/follow/1.jpg" alt="" class="circle"></a></div>
                                <div class="media-body media-middle">
                                    <a href="page-author.html"><h5>Lisa Zing Lung</h5></a>
                                    <div class="btn-group">
                                        <a href="#" class="btn follower_count">34,000</a>
                                        <a href="#" class="btn follow">follow</a>
                                    </div>
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-left"><a href="page-author.html"><img src="http://uxart.io.dimgx.net/Products/video-cafe/images/follow/2.jpg" alt="" class="circle"></a></div>
                                <div class="media-body media-middle">
                                    <a href="page-author.html"><h5>Lisa Zing Lung</h5></a>
                                    <div class="btn-group">
                                        <a href="#" class="btn follower_count">34,000</a>
                                        <a href="#" class="btn follow">follow</a>
                                    </div>
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-left"><a href="page-author.html"><img src="http://uxart.io.dimgx.net/Products/video-cafe/images/follow/3.jpg" alt="" class="circle"></a></div>
                                <div class="media-body media-middle">
                                    <a href="page-author.html"><h5>Lisa Zing Lung</h5></a>
                                    <div class="btn-group">
                                        <a href="#" class="btn follower_count">34,000</a>
                                        <a href="#" class="btn follow">follow</a>
                                    </div>
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-left"><a href="page-author.html"><img src="http://uxart.io.dimgx.net/Products/video-cafe/images/follow/4.jpg" alt="" class="circle"></a></div>
                                <div class="media-body media-middle">
                                    <a href="page-author.html"><h5>Lisa Zing Lung</h5></a>
                                    <div class="btn-group">
                                        <a href="#" class="btn follower_count">34,000</a>
                                        <a href="#" class="btn follow">follow</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}